
ul.dynmenu div.treectl {
  display: inline;
  position: relative;
  right: 15px;
  padding-left: 7px;
  margin-right: -7px;
  background: center left no-repeat;
}
ul.dynmenu li.collapsed > div.treectl {
  background-image: url(../../misc/menu-collapsed.png);
}
ul.dynmenu li.expanded > div.treectl {
  background-image: url(../../misc/menu-expanded.png);
}
ul.dynmenu li.pushpin {
  list-style-image: url(pushpin.gif);
}

/* IE fixes */
* html ul.dynmenu div.treectl {
  zoom: 1; /* need hasLayout for anything to work */
  margin-right: -12px; /* screwy box model? */
  background-image: url(../../misc/menu-collapsed.png); /* no > selector */
}
